/* div{
    background-color: dodgerblue;
    width: 500px;
    width: 50%;
    margin: auto;
    height: 200px;
    } */


/* img{
    min-width: 500px;
    max-width: 900px;
} */
/* 
body{
    overflow: hidden;
}
div{
    width: 1900px;
} */

/* div , span{
    border: 1px solid black;
    background-color: dodgerblue;
    padding: 2em;
}
span{
    display: inline-block;
} */

/* div{ */
    /* border-width: 2px;
    border-color: dodgerblue;
    border-style: solid; */
    /* border: 1px solid black;
    background-color: firebrick; */
    /* margin-top: 10px;
    margin-left: 100px; */
    /* padding: 10px 50px 10px 60px;
    margin: 10px 50px 10px 60px; */
    /* width: 500px;
    background-color: fuchsia;
    margin: auto;
    box-sizing: border-box;
} */

/* flex box */

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content:space-around
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 50px;
    padding: 20px;
    font-size: 30px;
  }